each post in posts
    article.blog-post
        h2.blog-post-title.mb-1 #{ post.title }
        p.blog-post-meta
            | #{ new Date(post.created_at).toLocaleString('default', { month: 'short' }) } #{ new Date(post.created_at).getDate() < 10 ? '0' + new Date(post.created_at).getDate() : new Date(post.created_at).getDate()} by #{' '}
            a(href='#') #{ post.author }
        p
            | #{ post.body }